# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ramir\Documents\PUCRS\2022-1\Projeto e Automatização de Algoritmos\1-exercicio-de-reaquecimento-exercicio_1_ramiro_lucas\PROJETO_NOVO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
