# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ramir\Documents\PUCRS\2022-1\Projeto e Automatização de Algoritmos\exercicios_recursao_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
